body {
	font-size: 16px;
	font-family: Ubuntu, Helvetica, Arial;
	margin: 0;
	background: #fff url('/Flights/images/church.png');
}

a {
	text-decoration: none;
	color: #445c82;
}

a:hover {
	text-decoration: underline;
}

label {
	color: #001b2e;
}

input, select, textarea {
  font-size: 14px;
  font-family: Helvetica, Arial;
  border: solid 1px #bfdeec;
  padding: 3px;
  border-radius: 2px;
  background: #f4f6f9;
}

input[type=submit] {
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding: 6px 18px;
	
	background: #3778b4;
  background-image: linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
  background-image: -o-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
  background-image: -moz-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
  background-image: -webkit-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
  background-image: -ms-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
  
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(55,120,180)),
    color-stop(0.8, rgb(62,133,188))
  );
  
  box-shadow: 0 0 10px #3e85bc;
  border: solid 1px #0069AA;
  color: #dfeef5;
  text-shadow: 1px -1px 1px #005199;
}

.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: block;
	overflow: hidden;
	clear: both;
	width: 960px;
	margin: 0 auto;
}

.row {
	display: block;
	overflow: hidden;
	margin: 5px auto;
}

.column {
	display: inline-block;
	vertical-align: top;
	padding: 1%;
}
.column._70 {
  width: 68%;
}
.column._30 {
  width: 25%;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
.table {
  width: 90%;
  margin:0 auto;
  font-size: 15px;
}
.table thead,
.table tbody tr{
  border-bottom: solid 1px #c1d8ef;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
}
.table th {
  font-weight: bold;
  color: #383838;
}
.table thead th {
  vertical-align: bottom;
}

#header {
	padding: 5px 0;
	background: #3778b4;
  background-image: linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
	background-image: -o-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(55,120,180) 20%, rgb(62,133,188) 80%);
	
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.2, rgb(55,120,180)),
	  color-stop(0.8, rgb(62,133,188))
	);
  border-top: solid 1px #3e85bc;
  border-bottom: solid 1px #005199;
  box-shadow: 0 0 10px #005199;
}

#header a {
	color: #dfeef5;
  text-shadow: 1px -1px 1px #005199;
}
#header a:hover {
	text-decoration: none;
  color: #b5e2ec;
}

#header h1,
#header ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#header ul {
	text-align: right;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	font-size: 16px;
	float: right;
	line-height: 41px;
}

#header ul li {
	display: inline-block;
	margin: 0 10px;
	font-weight: bold;
}

#body {
	padding: 20px 0;
}

#body .wrapper {
	background: #fafafa;
  box-shadow: 0 0 20px #ccc;
}